@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes border-highlight {
  0% {
    opacity: 0.8;
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
  }
  25% {
    opacity: 0.8;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
  50% {
    opacity: 0.8;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%);
  }
  75% {
    opacity: 0.8;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  90% {
    opacity: 0.8;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  100% {
    opacity: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@keyframes dash-highlight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 0.8;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.animate-border-highlight {
  animation: border-highlight 10s ease-in-out infinite;
}

.animate-dash-highlight {
  animation: dash-highlight 2s ease-in-out infinite;
}
